.profile{

}
.logo_info{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.logo_img{
    width: 250px;
    height: 250px;
    border-radius: 60px;
}
.info b{
    font-size: 35px;
}
.info p{
    font-size: 25px;
    margin-bottom: 40px;
}
.info a{
    text-decoration: none;
}
.posts{
    margin-left: 7%;
}
.posts p{
    font-size: 40px;
    margin-bottom: 30px;
}
.posts textarea{
    background: rgb(244,244,244);
    font-size: 25px;
    height: 70px;
    width: 50%;
}
.posts button{
    background: rgb(244,244,245);
    border-radius: 3px;
    height: 40px;
    width: 120px;
    font-size: 25px;
    text-align: left;
    margin-left: 45%;
    margin-top: 20px;
}
.post{
    display: flex;
    justify-content: start;
    align-items: center;
}
.post img{
    width: 60px;
    height: 60px;
    border-radius: 100px
}
.post p{
    margin-left: 20px;
    font-size: 30px;
}