.profile{

}
.logo_info{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.logo_img{
    width: 250px;
    height: 250px;
    border-radius: 60px;
}
.info b{
    font-size: 35px;
}
.info p{
    font-size: 25px;
    margin-bottom: 40px;
}
.info a{
    text-decoration: none;
}