.wrap{
    text-align: center;
    margin-top: 100px;
}
.logo{
    font-size: 40px;
}
.input{
    margin-bottom: 20px;
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: black;
    border: 1px solid rgba(255, 255, 255, .4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button:before, .button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}
.button:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.button:after {
    top: 0;
    right: 0;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.button:hover:before,
.button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}
.button:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.button:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.button:hover {
    background: rgba(255, 255, 255, .2);
}