* {
  font-family: 'Lobster', cursive;
  font-style: normal;
  font-size: 25px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

.wrapper {
  background: url("./background1.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 1050px;
}